body {
  margin: 0;
  background-color: gray;
}

main {
  width: 1300px;
  height: 2000px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.clickable-items {
  margin: 30px 0px;
  display: flex;
  justify-content: space-around;
}

.clickable-items__clickable-item {
  cursor: pointer;
  color: #f1f2f6;
  font-weight: 500;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 180px;
  background-color: #41a0ff;
  border-radius: 30px;
  box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.55),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.clickable-menus {
  display: flex;
  margin-left: 3%;
}

.menu {
  width: 160px;
  margin-right: 10px;
  margin-top: 50px;
}

.City {
  cursor: pointer;
}
