<!-- Code from d3-graph-gallery.com -->
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>BizBot</title>
    <!-- for local import -->
    <link rel="stylesheet" href="../static/styles.css" />
    <!-- for server import -->
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles.css') }}"
    />
  </head>

  <body>
    <main>
      <!-- create nave-bar -->
      <div class="clickable-items">
        <div class="clickable-items__clickable-item ranking">
          <span class="ranking">
            지역별 랭킹
          </span>
        </div>
        <div class="clickable-items__clickable-item word-cloud">
          <span class="word-cloud">
            워드 클라우드
          </span>
        </div>
        <div class="clickable-items__clickable-item support-graph">
          <span class="support-graph">
            지원사업 추이
          </span>
        </div>
      </div>
      <!-- Create an element where the map will take place -->
      <div id="map"></div>
      <div class="view">
        <div class="selected">
          지역: 전체, 아이템: 지역별 랭킹을 보여줍니다.
        </div>
        <!-- plotly visualization -->
        <iframe
          id="igraph"
          scrolling="no"
          style="border: none;"
          seamless="seamless"
          src="../static/temp-plot.html"
          height="525"
          width="700px"
        ></iframe>
        <div id="coronaGraph"></div>
        <div id="my_graph"></div>
      </div>
    </main>

    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>

    <!-- Color Scale -->
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

    <!-- for local import -->
    <script src="../static/koreaMap.js"></script>
    <script src="../static/coronaGraph.js"></script>
    <script src="../static/my_graph.js"></script>

    <!-- for server import -->
    <script src="{{url_for('static',filename='koreaMap.js')}}"></script>
    <script src="{{url_for('static',filename='my_graph.js')}}"></script>
    <script src="{{url_for('static',filename='coronaGraph.js')}}"></script>

  </body>
</html>