@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@500&family=Nanum+Gothic+Coding:wght@700&family=Noto+Sans+KR:wght@700&display=swap");

html,
body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 50px;
  overflow: auto;
  overflow-x: hidden;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.85);
  background-color: #f1f7e0dc;
}

header {
  /* background-color: #D1CC43;   */
  background-image: url("https://raw.githubusercontent.com/bin7665/KNU-20201-team2-BizBot/master/MainPage_temp/image/banner.png");
  background-repeat: no-repeat;
  background-size: 100%;

  position: relative;
  top: 0;
  height: 25%;
  width: 100%;
  transition: transform 0.3s linear;
  color: black;

  font: "Nanum Gothic Coding";
  font-size: 45px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 2rem;
  line-height: 3rem;
  white-space: nowrap;
}

main {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 3rem auto 0;
  padding-top: 3rem;
}

.part {
  justify-content: flex-start;
}

.remote {
  padding: 0px;
  margin: 0px;
  padding-top: 30px;
  list-style: none;
  position: fixed;
  right: 60px;
  top: 35%;
  width: 65px;
  height: 260px;
  z-index: 1;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;

  background-color: #fff;
  font-family: Sunflower;
  font-style: border;
  font-size: 10%;
  border-radius: 10px;
  border: 0.25rem outset;
  border-color: rgba(251, 196, 0);
  transition-delay: 1s;
}
.inremote {
  padding-bottom: 10px;
  margin: 0px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 0.25rem ridge;
  border-color: rgba(251, 196, 0);
}
.chapterClass {
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 0px;
  padding-top: 15px;
  padding-bottom: 0px;
  border-radius: 10px;
}

.sectionExplain {
  white-space: nowrap;
  padding: 10px;
  width: 50%;
  text-align: left;
}
.subtitle {
  border-radius: 10px;
  text-align: center;
  font-size: 130%;
  width: 280px;
  line-height: 1.6;
  background-color: rgba(251, 196, 0);

  padding: 2%;
  margin-right: 5%;
}
p {
  margin-top: 5%;
}

.graphBox {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  resize: both;
  text-align: center;
  font-family: "Sunflower", monospace;
  font-size: 20px;
}

.wordcloud-box {
  display: flex;
  flex-direction: column;
}

.wordcloud-title {
  margin-left: 10px;
}

.label {
  font-family: "Sunflower", monospace;
  fill: #fff;
  stroke: #bbb;
  stroke-width: 0.5px;
  opacity: 0.5;
}

circle {
  fill: rgba(255, 205, 0);
  stroke: rgba(251, 196, 0);
}

footer {
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 100%;
  line-height: 13rem;
  margin-top: 50px;
  padding: 60px 0;
  background-color: #333325;
}

.buttonDiv {
  position: absolute;
  right: 20px;
  bottom: 0px;
  display: flex;
  justify-content: flex-end;
}
button {
  font-size: 12px;
  border: 0.25rem solid;
  margin: 1rem;
}
#leftB {
  background-color: #3498db;
  border-color: #3498db;
  color: #fff;
}
#midB {
  background-color: #fbc400;
  border-color: #fbc400;
}
#rightB {
  background-color: #299a1f;
  border-color: #299a1f;
  color: #fff;
}
